/.ssh/*
!/.ssh/.gitkeep
/.env-*
!/.env-example
/apache/sites-available/*
!/apache/sites-available/my-website.test.conf
!/apache/sites-available/my-website.test.ssl.conf
/apache/sites-enabled/*
!/apache/sites-enabled/.gitkeep
/log/*
!/log/.gitkeep
/mysql/data/*
!/mysql/data/.gitkeep
/mysql/dump/*
!/mysql/dump/.gitkeep
/mysql/log/*
!/mysql/log/.gitkeep
/php/*
!/php/.gitkeep
/projects/*
!/projects/my-website.test
/ssl/keys/*
!/ssl/keys/.gitkeep
!/ssl/keys/my-website.test.conf